<html>
    <head>
        <title>Booked Receipt</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body{
        text-align: center;
        margin-top:10%;
    }
    h1{
    position: relative;
    color:green;
    margin:auto;
    text-decoration: none;
    }
    .card{
        height:500px;
        border-color:green;
        background-color: rgb(219, 216, 216);
    }
</style>
    <body>
        <card class='card container'>
            <h1>Successfully Booked</h1>
                <h2><a href="/home">Home</a></h2>
        </card>
    </body>
</html>